{% extends 'mailing/base.html'%}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="col-12 mb-5 ">
            <a class="btn btn-primary" href="{% url 'mailing:create_message' %}">Добавить сообщение</a>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in object_list %}
            <div class="col">

                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ object.body }}</text>
                    </svg>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="{% url 'mailing:view_message' object.pk %}">Подробнее</a>
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="{% url 'mailing:update_message' object.pk %}">Изменить</a>
                                <a class="btn btn-outline-danger float-right"
                                   href="{% url 'mailing:delete_message' object.pk %}">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
